/.TurtleBotMissionDSLDescriptionLabelProvider.java._trace
/.TurtleBotMissionDSLLabelProvider.java._trace
/.TurtleBotMissionDSLDescriptionLabelProvider.xtendbin
/.TurtleBotMissionDSLLabelProvider.xtendbin
/TurtleBotMissionDSLDescriptionLabelProvider.java
/TurtleBotMissionDSLLabelProvider.java
